&uart0 {
	status = "okay";
	compatible = "nordic,nrf-uart";
	current-speed = <115200>;
	tx-pin = <6>;
	rx-pin = <8>;
	rts-pin = <5>;
	cts-pin = <7>;
};


&spi1 {
	compatible = "nordic,nrf-spis";
	status = "okay";
              sck-pin = <30>;
              mosi-pin = <28>;
               miso-pin = <29>;
	csn-pin = <31>;
	
	def-char = <0xC3>;
};

&spi2 { 
           compatible = "nordic,nrf-spim"; 
           status = "okay";
           sck-pin = <23>;
           mosi-pin = <25>;
           miso-pin = <24>;

          cs-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
};
